<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open card</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="back-button">
        <button class="back-to-index-button all-buttons" onclick="window.location.href = '/';">Back</button>
    </div>
        <div class="card-container">
        
        <div class="card">
            <div class="front">
                <img src="{{ url_for('static', filename='ai_image.png') }}" alt="Card Image">
                <div class="page-turn"></div>
            </div>
            <div class="back">
                <div class="left">
                    <img src="{{ url_for('static', filename='alvin.jpg') }}" alt="Card Image">
                    <div class="page-turn"></div>
                </div>
                <div class="right">
                    <p id="cardText">{{ lyrics }}</p>
                </div>
            </div>
        </div>
       <button class="download-button-two all-buttons">Download</button> 
    </div>
        
    

    <script>
        const pageTurn = document.querySelectorAll('.page-turn');
        const card = document.querySelector('.card');
        const downloadButton = document.getElementById('downloadButton');

        pageTurn.forEach(turn => {
            turn.addEventListener('click', () => {
                card.classList.toggle('flipped');  
            });
        });


        downloadButton.addEventListener('click', () => {
            // Implement download functionality here (e.g., using canvas to create an image)
            alert('Download functionality not implemented yet.');
        });

    </script>
</body>
</html>